* {
    background-color: darkcyan;
}

body {
    padding: 20px;
}

.flex-container {
    display: flex;
    background-color: gray;
    border-radius: 10px;
    flex-wrap: nowrap;
    width: 25%;
    /* margin: 20px; */
    padding: 10px;
    flex-direction: column;
}

a {
    background-color: gray;
    margin: 20px;
    font-size: 23px;
    flex: 25%;
}
b {
    background-color: gray;
    padding-left: 50px;
    font-size: 27px;
    flex: 25%;
}

.flex-container> div{
    background-color: gray;
    padding: 10px;
}

button {
    width: 70px;
    height: 20px;
    background-color: lightslategray;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 0px;
}